body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428;
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

h1 {
    font-size: 26px;
}

#page {
    border: 1px solid #999;
    padding: 10px;
    width: 970px;
}



#shell {
    width: 972px;
    margin: 50px auto;
    text-align: left;
}

div#main {
    border-top: 1px solid #fff;
    clear: both;
    padding: 0 0 7px 0;
}

.module {
    margin-bottom: 12px;
}

.storyHeader {
    margin-bottom: 6px;
    font-family: "Times New Roman", serif;
}

.storyHeader h1 {
    font-weight: normal;
}

#interactiveMain {
    width: 950px;
    margin: 20px auto;
    padding: 0 10px;
}

.ink {
    font-family: Helvetica, Arial, sans-serif;
}

.stepper {
    display: block;
    position: relative;
    height: 28px;
    margin: 8px 0 0;
    padding: 8px 0 0;
}

.stepperButton:hover {
    text-decoration: none;
    background-color:#064D84;
}

.stepperButton {
    padding: 0 12px;
    margin: 0;
    display: block;
    color: white;
    text-decoration: none solid rgb(255, 255, 255);
    border-radius: 2px;
    font-size: 14px;
    line-height: 30px;
    height: 28px;
    outline: none;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
}

a.stepperButton:hover {
    color: white;
}

.stepper-previous {
    float: left;
    margin-right: 4px;
    padding-left: 26px;
    background: #004276 url("whiteArrow-left.png") no-repeat 2px center;
    
}

.stepper-next {
    float: left;
    padding-right: 26px;
    background: #004276 url("whiteArrow-right.png") no-repeat 42px center;
}

.stepper-disabled {
    background-color: #c2cdd6;
}

.stepper-disabled:hover {
    background-color: #c2cdd6;
}

.steps {
    margin: 0 0 0 10px;
    padding: 0;
    display: block;
    float: left;
}

.step {
    font-size: 13px;
    background-image: none;
    list-style-type: none;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 7px;
    margin: 7px 0;    
}

.step a {
    color: #aaa;
}

.step-selected a {
    color: #000;    
    font-weight: bold;
    padding-bottom: 8px;
}

.step-last {
    border-right: none;
}

p, li, dt, dd {
    line-height: 1.25em;
}

.line {
    border: 1px #000 solid;
}

.canvas-wrap {
    position: relative;
    border-top: 1px #000 solid;
    padding-top: 0px;
    margin: 12px 0;
    padding: 0 10px;

}

.explainer {
    top: 30px;
    width: 365px;
    color: #000;
    position: relative;
}


.clear {
  clear: both;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tabContent.active {
    display: block;
}

.tabContent {
    clear: both;
    border: 1px solid #ccc;
    padding: 7px;
    display: none;
}

/*
h2 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  line-height: 36px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
*/

.col2 {
  float: left;
  width: 150px;
}
*/

.footnote {
    font-size: 0.65em;
}

.buttons {
    float:right;
    position: relative;
    top: -20px;
}

.button {
  float: left;
  height: 30px;
  width: 130px;
  background-color: #465A99;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  border-right: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}
.button:hover, .button.active {
  background-color: #333;
}
.button.active {
  cursor: default;
}
.button.first {
  border-radius: 5px 0 0 5px;
}
.button.last {
  border-radius: 0 5px 5px 0;
  border-right: none;
}

.controls {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.chart-wrapper {
    position: relative;
    margin-top: 45px;
}

.chart {
    position: relative;
    left: -50px;
}
.munic-tooltip {
    position: absolute;
    top: 10px;
    left: 765px;
    font-family: Arial,Verdana,Helvetica,sans-serif; 
    font-size: 13px;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    width: 175px;

    -moz-box-shadow: 3px 3px 5px 0px #333;
    -webkit-box-shadow: 3px 3px 5px 0px #333;
    box-shadow: 3px 3px 5px 0px #333;
}
.tooltip-triangle-outer {
  position: absolute;
  top: 27px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 10px solid #ccc;
}
.tooltip-triangle-inner {
  position: absolute;
  top: 29px;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 9px solid #fff;
}
.munic-tooltip .section {
  margin: 6px 0;
}
.munic-tooltip .city {
    font-family: Arial, sans-serif;
    font-weight: bold;

    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.munic-tooltip .rate-2013 {
  font-weight: bold;
}
.munic-tooltip .better {
  color: #627A62;
  font-weight: bold;
}
.munic-tooltip .worse {
  color: #A33838;
  font-weight: bold;
}
.munic-tooltip .average {
  font-weight: bold;
}

.home-rate {
  fill: none;
  /*stroke: #465070;*/
  stroke: #8C96B9;
  stroke-width: 1px;
  stroke-opacity: 0.2;
}
.home-rate-hover {
  stroke-width: 3px;
  stroke-opacity: 0.5;
}

.home-rate-selected {
  stroke-width: 3px;
  stroke-opacity: 1.0;
}

.home-province {
  stroke: #f00;
  stroke-width: 2px;
  stroke-opacity: 0.3;
}

.home-rate-selected.home-province {
    stroke-opacity: 1.0;
}

.home-rate-Summary {
    stroke: #7A6565;
    stroke-opacity: 1.0;
    stroke-width: 3px;
}

.axes {
  stroke: #ccc;
  stroke-dasharray: 1, 5;
  fill: none;
  shape-rendering: crispEdges;
}
.axes .domain {
  stroke: none;
}
.xAxis .tick {
  stroke: none;
}
.axes text, .annotations text {
  font-family: Arial, sans-serif;
  font-size: 11px;
  stroke: none;
  fill: #333;
}

.annotations {
  pointer-events: none;
}
.annotations .baseline {
  stroke: #333;
  shape-rendering: crispEdges;
}
.annotations .leader {
  stroke: #666;
  shape-rendering: crispEdges;
}

.byline, .disclaimer, .source {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #666;
  margin: 4px 10px;
}
.byline {
  color: #333;
}

.fallback {
  display: none;
}
.fallback-info {
  width: 750px;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #AAC2AF;
  margin: 30px 10px;
}

