
.d3-tooltip {            
  text-align: center;           
  padding: 5px;             
  font: 1.1em sans-serif;        
  background: #FFE770;
  border: solid 1px #333333;
  border-radius: 4px;                
  text-align: right;
  padding-top:2px;
}

.d3-tooltip h3, .d3-tooltip h4 {
    margin: 3px;
}

.d3-tooltip h3 {
    font-size: 14px;    
    font-weight: bold;
}

.d3-tooltip h4 {
    font-size: 10px;    
}

.d3-tooltip dl {
    margin: 3px;
}

.buttons {
    text-align: center;
    padding-bottom: 5px;
}

.buttons button {
    border-radius: 5px;
}
