.buttons {
    margin-bottom: 10px;
}
.d3-tooltip {            
  text-align: center;           
  padding: 5px;             
  font: 0.75em sans-serif;        
  background: #FFE770;
  border: solid 1px #333333;
  border-radius: 4px;                
  text-align: right;
  padding-top:2px;
}

.d3-tooltip h3, .d3-tooltip h4 {
    margin: 3px;
}

.d3-tooltip h3 {
    font-size: 1.1em;    
    font-weight: bold;
}

.d3-tooltip h4 {
    font-size: 10px;    
}

.d3-tooltip td {
    padding-left: 5px;  
    padding-right: 5px;  
}

.d3-tooltip td:first-child {
    font-weight: bold;
}

.buttons {
    text-align: center;
    padding-bottom: 5px;
}

.buttons button {
    border-radius: 5px;
}

.bubble.no_data circle {
    fill: #ff9f9f !important;
}

g.bubble {
    cursor: pointer;
}
